@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
/*---------------ESTILOS PARA EL HEADER-------------------*/
.header-container{
    width: 100vw;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 5%;
}
.label-burguer{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16px;
}
#check-menu{
    display: none;
}
.linea-burguer{
    width: 18px;
    height: 2px;
    background-color: black;
}
.menu-mobile .nav-bar{
    position: absolute;
    left: 0;
    width: 100%;
    top: -1000px;
    background-color: #0000EC;
    transition: all 500ms ease;
    padding-bottom: 4%;
    padding-top: 4%;
}
.list-nav{
    list-style: none;
}
.link-menu-bar{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    margin-left: 16px;
    text-decoration: none;
}
.list-item{
    padding-top: 8px;
}

#check-menu:checked ~ .nav-bar{
    top: 44px;
}

#check-menu:checked+ .label-burguer .linea-sup{
    display: none;
}

#check-menu:checked+ .label-burguer .linea-med{
    transform: rotate(45deg);
    width: 20px;
}

.check-burguer:checked+ .label-burguer .linea-inf{
    transform: rotate(-45deg);
    width: 20px;
    margin-top: -20px;
}
.menu-desktop{
    display: none;
}
/*------------------FIN DE LOS ESTILOS PARA EL HEADER-------------------------*/



/*-------------------ESTILOS PARA LA SECCION DEL TITULO------------------------*/
.container-title{
    width: 100vw;
}
.title{
    width: 90%;
    margin-left: 5%;
    margin-top: 29px;
    margin-bottom: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
span{
    text-decoration: line-through;
}
.dot{
    text-decoration: none;
}   
.description{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 36px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
.ver-mas{
    width: 90%;
    height: 48px;
    background: #00F3BB;
    margin-left: 5%;
    text-align: center;
}
.label-ver-mas{
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    line-height: 48px;
}

.ver-mas:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}
.ver-mas:hover .label-ver-mas{
    color: #FFFFFF;
}

/*-------------FIN DE LOS ESTILOS PARA LA SECCION DEL TITULO----------------*/




/*-------------ESTILOS PARA LA SECCION DE EPISODIOS-------------------------*/

.container-episodios{
    width: 100vw;
    background-color: #0000EC;
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}
.episodios-aux{
    width: 100%;
}
 #title-episodios{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: 24px;
    padding-top: 64px;
    margin-bottom: 21px;
    margin-left: 16px;
}

.iframe{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 11px;
}
.last-ifrem{
    margin-bottom: 37px;
    padding-bottom: 140px;
}

iframe{
    width: 100%;
    /*height: auto;*/
    border: 0;
}

/*-----------FIN DE LOS ESTILOS PARA LA SECCION DE EPISODIOS-----------------*/



/*-----------ESTILOS PARA LA SECCION DE DONDE VENIMOS (ORIGEN)---------------*/

.container-phone{
    width: 100vw;
    margin-top: -130px;
}
.phone{
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.container-origen{ 
    width: 100vw;
    margin-top: 10px;
}
.title-origen{
    width: 90%;
    margin-top: 27px;
    margin-left: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
#parrafo-origen{
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
.title-invitados{
    width: 90%;
    margin-left: 5%;
    margin-top: 54px;
    margin-bottom: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
.title-invitados-desktop{
    display: none;
}
/*-------FIN DE LOS ESTILOS PARA LA SECCION DE DONDE VENIMOS (ORIGEN)-----*/

.container-galeria-img{
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 10%;
}
.galeria-img-desktop{
    width: 100%;
}
.img-galeria{
    width: 100%;
    height: auto;
    margin:-4px 0 0 0;
}

/*-------ESTILOS PARA LA SECCIÓN DE ICONOS-------*/

.container-icons{
    width: 100vw;
}
.title-icons{
    width: 90%;
    margin-left: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: 48px;
}
.agrupa-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-icon{
    width: 104px;
    height: 104px;   
}
.icon-1{
    margin-top: 37px;
    margin-bottom: 13px;
}
.icon-2{
    margin-top: 49px;
    margin-bottom: 13px;
}
.icon-3{
    margin-top: 65px;
    margin-bottom: 13px;
}
.icon-4{
    margin-top: 65px;
    margin-bottom: 13px;
}
.title-icon{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
}

/*--------FIN DE LOS ESTILOS PARA LA SECCIÓN DE ICONOS--------*/


/*---------ESTILOS PARA LA SECCIÓN DE NOVEDADES----------*/
.container-novedades{
    width: 100vw;
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); 
    margin-top: 42px;
}
.title-novedades{
    width: 90%;
    margin-left: 5%;
    padding-top: 64px;
    margin-bottom: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
}
/*---------FIN DE LOS ESTILOS PARA LA SECCIÓN DE NOVEDADES-----------*/


/*---------ESTILOS PARA EL FOOTER---------------*/
.container-footer{
    width: 100vw;
    text-align: center;
}
.copy-right-text{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 24px;    
}
.container-icons-footer{
    width: 100%;
    display: flex;
    margin-top: 16px;
    margin-bottom: 31px;
    justify-content: space-around;
}
.icon-footer{
    width: 16px;
    height: 28px;
    color: #060A24;
}
/*----------FIN DE ESTILOS PARA EL FOOTER-----------*/


/******************************************************************************RESPONDIVE STILES***********************************************************************************************/

@media screen and (min-width: 1024px){

    .logo{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-left: 100px;
        margin-top: 22px;
    }
    .title{
        width: 740px;
        font-size: 64px;
        margin-left: 164px;
        margin-top: 142px;
        margin-left: 164px;
    }
    .description{
        width: 628px;
        height: 48px;
        font-size: 16px;
        margin-left: 164px;
    }
    .menu-mobile{
        display: none;
    }
    .menu-desktop{
        display: block;
    }
    .link-menu-bar{
        color: black;
    }
    .nav-bar .list-nav{
        margin-right: 100px;
        margin-top: 26px;
    }
    .list-nav .list-item{
        display: inline-block;
        padding: 0 12px 0 12px;
    }
    .dot{
        font-size: 64px;
        color: #0000EC;
    }
    .ver-mas{
        margin-top: 10px;
        width: 226px;
        height: 56px;
        margin-left: 164px;
        background: #00F3BB;
    }
    .label-ver-mas{
        font-size: 18px;
        line-height: 56px;
    }
    .container-episodios{
        clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    }
    #title-episodios {
        font-size: 48px;
        padding-top: 186px;
        margin-left: 200px;
    }
    .episodios-aux{
        display: flex;
        justify-content: space-evenly;
    }
    .iframe{
        width: 40%;
        margin-left: 0;
    }
    .tercer-ifrem{
        margin-top: 76px;
    }
    .last-ifrem{
        margin-top: 76px;
        margin-bottom: 232px;
    }
    .container-phone{
        width: 457.6px;
        margin-left: 13.88%;
        margin-top: -168px;
    }
    .container-origen{
        width: 464px;
        margin-top: -530px;
        margin-left: 50%;
    }
    .title-origen{
        font-size: 48px;
    }
    #parrafo-origen{
        margin-top: 24px;
        font-size: 16px;
        margin-bottom: 300px;
    }
    .title-invitados{
        display: none;
    }
    .title-invitados-desktop{
        display: block;
        width: 481px;
        height: 62px;
        font-size: 48px;
        margin-left: 13.88%;
        margin-top: 64px;
        margin-bottom: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
    }
    .galeria-img-desktop{
        display: flex;
    }
    .container-galeria-img{
        margin-bottom: 0;
    }
    .img-galeria{
        width: 33.33%;
    }
    .title-icons{
        width: 41%;
        margin-top: 64px;
        margin-bottom: 69px;
        margin-left: 13.88%;
        font-size: 48px;
    }
    .sub-container-icons{
        width: 72.22%;
        margin-left: 13.88%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    .agrupa-icon-text{
        width: 18.05%;
        height: 210px;
        justify-content: flex-end;
    }
    .img-icon{
        width: 260px;
        height: 130px;
        text-align: center;
        margin-top: 0;
    }
    .title-icon{
        width: 220px;
        height: 64px;
    }
    .container-novedades{
        height: 518px;
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%); 
        margin-top: 0;
    }
    .title-novedades{
        width: 49%;
        margin-left: 26%;
        font-size: 48px;
        padding-top: 213px;
    }
    .btn-novedades{
        width: 24%;
        background: #00F3BB;
        margin-left: 38%;
        text-align: center;
    }
    .container-icons-footer{
        width: 30%;
        margin-right: 100px;
        margin-top: 36px;
    }
    .container-footer{
        display: flex;
        justify-content: space-between;
    }
    .icon-footer{
        width: 18px;
    }
    .copy-right-text{
        width: 269px;
        height: 28px;
        font-size: 16px;
        margin-left: 100px;
        margin-bottom: 31px;
        margin-top: 36px;
    }
    .list-item:hover .link-menu-bar{
        color: #00F3BB;
        letter-spacing: 0;
        line-height: 28px;
        text-decoration: line-through;
    }
    .list-item:active .link-menu-bar{
        color: rgba(6,10,36,0.56);
    }
}



