@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
/*---ESTILOS PARA EL HEADER*/
.header-container{
    width: 100vw;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;*/
}
.logo{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 5%;
}
.label-burguer{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16px;

}
#check-menu{
    display: none;
}
.linea-burguer{
    width: 18px;
    height: 2px;
    background-color: black;
}
.menu-mobile .nav-bar{
/*.nav-bar{*/
    position: absolute;
    left: 0;
    width: 100%;
    /*margin-top: -100%;*/
    top: -1000px;
    background-color: #0000EC;
    transition: all 500ms ease;
    padding-bottom: 8%;
    padding-top: 4%;
}
.list-nav{
    list-style: none;
}
.link-menu-bar{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    margin-left: 16px;
    text-decoration: none;
}
.list-item{
    padding-top: 5%;
}
#check-menu:checked ~ .nav-bar{
    top: 44px;
}

#check-menu:checked+ .label-burguer .linea-sup{
    display: none;
}

#check-menu:checked+ .label-burguer .linea-med{
    transform: rotate(45deg);
    width: 20px;
}

.check-burguer:checked+ .label-burguer .linea-inf{
    transform: rotate(-45deg);
    width: 20px;
    margin-top: -20px;
}
.menu-desktop{
    display: none;
}

/*--FIN DE LOS ESTILOS PARA EL HEADER*/

/*--ESTILOS PARA LA SECCION DEL TITULO*/
.container-title{
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
}
.title{
    width: 90%;
    margin-left: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
span{
    text-decoration: line-through;
}
.dot{
    text-decoration: none;
}   
.description{
    width: 90%;
    /*margin: 3% 5% 5% 5%;*/
    margin-top: 16px;
    margin-left: 5%;
    margin-bottom: 36px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
.ver-mas{
    width: 90%;
    height: 48px;
    margin: 3% auto;
    background: #00F3BB;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}
.label-ver-mas{
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    line-height: 48px;
}
/*--FIN DE LOS ESTILOS PARA LA SECCION DEL TITULO*/


/*--ESTILOS PARA LA SECCION DE EPISODIOS*/

.container-episodios{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0000EC;
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    margin: 5% auto;
}
 #title-episodios{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    margin: 50px 0 21px -134px;
}
/*.iframe1{
    width: 90%;
    --margin-top: -10px;--
    margin: 3% auto;
}*/
.episodios-aux{
    width: 100%;
}
.iframe{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 11px;
}
/*.container-episodios :nth-child(5){
    margin-bottom: 170px;
}*/
.last-ifrem{
    margin-bottom: 170px;
}
/*--FIN DE LOS ESTILOS PARA LA SECCION DE EPISODIOS*/



/*--ESTILOS PARA LA SECCION DE DONDE VENIMOS (ORIGEN)*/

/*.container-image-phone{*/
.container-origen{ 
    width: 100vw;
    /*position: absolute;*/
    margin-top: 10px;
}
.container-phone{
    margin-top: -130px;
}
.phone{
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.title-origen{
    /*display: flex;*/
    width: 90%;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-left: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
#parrafo-origen{
    width: 90%;
    margin: 2% 5% 12% 5%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
.title-invitados{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
/*--FIN DE LOS ESTILOS PARA LA SECCION DE DONDE VENIMOS (ORIGEN)*/

.container-galeria-img{
    width: 100vw;
    /*display: flex;
    flex-direction: column;*/
    margin-top: 20px;
    margin-bottom: 10%;
}
.galeria-img-desktop{
    width: 100%;
}
.img-galeria{
    width: 100%;
    height: auto;
    /*max-width: 100%;*/
    /*max-height: 243px;*/
    margin:-4px 0 0 0;
}


/*ESTILOS PARA LA SECCIÓN DE ICONOS*/
/*
.container-icons{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.title-icons{
    width: 90%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 3% 5% 8% 5%;
}
.title-icon{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    width: 90%;
    margin-left: 7%;
}
.img-icon{
    margin: 7% auto 7% auto;   
}*/

.container-icons{
    width: 100vw;
}
.title-icons{
    width: 90%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 3% 5% 8% 5%;
}
.agrupa-icon-text{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-icon{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    width: 90%;
    margin-left: 7%;
}
.img-icon{
    margin: 7% auto 7% auto;   
}


/*FIN DE LOS ESTILOS PARA LA SECCIÓN DE ICONOS*/


/*ESTILOS PARA LA SECCIÓN DE NOVEDADES*/
.container-novedades{
    width: 100vw;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); 
    margin-top: 12%;
}
.title-novedades{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    align-items: center;
    margin: 20% 5% 5% 5%;
}
.btn-novedades{
    margin-bottom: 20%;
}
/*FIN DE LOS ESTILOS PARA LA SECCIÓN DE NOVEDADES*/


/*ESTILOS PARA EL FOOTER*/
.container-footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.copy-right-text{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 8%;
    margin-left: 14%;
}
.container-icons-footer{
    width: 100vw;
    display: flex;
    margin: 10% auto 10% auto;
    justify-content: space-around;
}
.icon-footer{
    width: 16px;
    height: 28px;
    color: #060A24;
    /*padding: auto 20% auto 20%;*/
}
/*FIN DE ESTILOS PARA EL FOOTER*/


/******************************************************************************RESPONDIVE STILES***********************************************************************************************/

@media screen and (min-width: 1024px){

    .menu-mobile{
        display: none;
    }
    .menu-desktop{
        display: block;
    }
    .link-menu-bar{
        color: black;
    }
    .logo{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-left: 100px;
        margin-top: 22px;
    }
    .nav-bar .list-nav{
        margin-right: 100px;
        margin-top: 26px;
    }
    .list-nav .list-item{
        display: inline-block;
        padding: 0 12px 0 12px;
    }
    .title{
        font-size: 64px;
        margin-left: 164px;
    }
    .description{
        width: 628px;
        font-size: 16px;
        margin-left: 164px;
    }
    .dot{
        font-size: 64px;
        color: #0000EC;
    }
    .ver-mas{
        margin-top: 10px;
        width: 226px;
        height: 56px;
        margin-left: 164px;
        background: #00F3BB;
    }
    .label-ver-mas{
        font-size: 18px;
        line-height: 56px;
    }
    .container-episodios{
        clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    }
    .container-episodios #title-episodios{
        font-size: 48px;
    }
    .episodios-aux{
        display: flex;
        justify-content: space-evenly;
    }
    .iframe{
        width: 40%;
        margin-left: 0;
    }
    .tercer-ifrem{
        margin-top: 76px;
    }
    .last-ifrem{
        margin-top: 76px;
        margin-bottom: 232px;
    }
    .container-phone{
        /*width: 31.77%;*/
        width: 457.6px;
        margin-left: 13.88%;
        margin-top: -230px;
    }
    .container-origen{
        width: 464px;
        margin-top: -530px;
        margin-left: 50%;
    }
    .title-origen{
        font-size: 48px;
    }
    #parrafo-origen{
        margin-top: 24px;
        font-size: 16px;
        margin-bottom: 300px;
    }
    .title-invitados{
        width: 481px;
        height: 62px;
        font-size: 48px;
        margin-left: -113%;
        margin-top: 64px;
    }
    .galeria-img-desktop{
        display: flex;
    }
    .sub-container-icons{
        display: flex;
    }
}


/*@media screen and (min-width: 1024px) and (max-width: 1439px){
    .last-ifrem{
        margin-bottom: 180px;
    }
    .container-phone{
        width: 31.77%;
        margin-left: 13.88%;
        margin-top: -177px;
    }
    .container-origen{
        width: 464px;
        margin-top: -410px;
        margin-left: 50%;
    }
    .title-origen{
        font-size: 48px;
    }
    #parrafo-origen{
        font-size: 15px;
    }
} */  
